<a href="https://colab.research.google.com/github/venkatareddykonasani/Class_files/blob/master/Python_Data_Manipuations_Assignment__AirBnB_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Manipulatiosn Assignment 
Instructor- Venkata Reddy Konasani
https://statinfer.com/

### 1.Import the dataset – Airbab New York data AB_NYC_2019.csv.

Dataset location "https://raw.githubusercontent.com/venkatareddykonasani/python_5days/master/Day2_Files/Datasets/AB_NYC_2019.xlsx"

In [ ]:
import pandas as pd
AB_NYC_data=pd.read_excel("https://raw.githubusercontent.com/venkatareddykonasani/python_5days/master/Day2_Files/Datasets/AB_NYC_2019.xlsx", sheet_name="AB_NYC_2019")

In [ ]:
AB_NYC_data

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

In [ ]:
#important Notes
#We need to metion the sheet name
#Give discriptive names

## 2.How many rows and columns are there in the dataset?

In [ ]:
#How many rows and columns are there in the dataset?
AB_NYC_data.shape

(48895, 16)

## 3.Print the column names

In [ ]:
AB_NYC_data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
AB_NYC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48869 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48873 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

## 4.Print some sample rows from the data

In [ ]:
AB_NYC_data.sample(10)

             id  ... availability_365
38270  30161866  ...              165
3532    2107939  ...              285
13791  10390252  ...                0
23766  19193758  ...                0
45810  34964342  ...                9
22011  17707963  ...              365
27633  21725963  ...                0
15313  12268056  ...                0
14821  11738951  ...                0
4360    2933772  ...               52

[10 rows x 16 columns]

In [ ]:
AB_NYC_data.head(10)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0
5  5099  ...              129
6  5121  ...                0
7  5178  ...              220
8  5203  ...                0
9  5238  ...              188

[10 rows x 16 columns]

In [ ]:
pd.set_option("display.max_columns", None)
print(AB_NYC_data.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaT
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

## 5.What are the column data types?

In [ ]:
AB_NYC_data.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [ ]:
[[col, AB_NYC_data[col].dtypes]  for col in AB_NYC_data.columns]

[['id', dtype('int64')],
 ['name', dtype('O')],
 ['host_id', dtype('int64')],
 ['host_name', dtype('O')],
 ['neighbourhood_group', dtype('O')],
 ['neighbourhood', dtype('O')],
 ['latitude', dtype('float64')],
 ['longitude', dtype('float64')],
 ['room_type', dtype('O')],
 ['price', dtype('int64')],
 ['minimum_nights', dtype('int64')],
 ['number_of_reviews', dtype('int64')],
 ['last_review', dtype('<M8[ns]')],
 ['reviews_per_month', dtype('float64')],
 ['calculated_host_listings_count', dtype('int64')],
 ['availability_365', dtype('int64')]]

In [ ]:
AB_NYC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48869 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48873 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

## 6.Are there any missing values in the data?, if yes, then how many are there in each column?

### Method1

In [ ]:
AB_NYC_data.isnull().sum()

id                                    0
name                                 26
host_id                               0
host_name                            22
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

### Method2

In [ ]:
[[col, sum(AB_NYC_data[col].isnull())] for col in AB_NYC_data.columns]

[['id', 0],
 ['name', 26],
 ['host_id', 0],
 ['host_name', 22],
 ['neighbourhood_group', 0],
 ['neighbourhood', 0],
 ['latitude', 0],
 ['longitude', 0],
 ['room_type', 0],
 ['price', 0],
 ['minimum_nights', 0],
 ['number_of_reviews', 0],
 ['last_review', 10052],
 ['reviews_per_month', 10052],
 ['calculated_host_listings_count', 0],
 ['availability_365', 0]]

### Method3

In [ ]:
AB_NYC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48869 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48873 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

## 7.Create a new dataset by considering only numerical columns.

### Method1

In [ ]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64','datetime64[ns]']
AB_NYC_data_numerics = AB_NYC_data.select_dtypes(include=numerics)
AB_NYC_data_numerics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   latitude                        48895 non-null  float64
 3   longitude                       48895 non-null  float64
 4   price                           48895 non-null  int64
 5   minimum_nights                  48895 non-null  int64
 6   number_of_reviews               48895 non-null  int64
 7   last_review                     38843 non-null  datetime64[ns]
 8   reviews_per_month               38843 non-null  float64
 9   calculated_host_listings_count  48895 non-null  int64
 10  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7)
memory usage: 4.1 MB

### Method2

In [ ]:
all_numeric_cols=[col for col in AB_NYC_data.columns if AB_NYC_data[col].dtypes in ["int64","float64"]]
print(all_numeric_cols)
print(len(all_numeric_cols))

['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']
10

In [ ]:
AB_NYC_numeric_cols_data=AB_NYC_data[all_numeric_cols]
AB_NYC_numeric_cols_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   latitude                        48895 non-null  float64
 3   longitude                       48895 non-null  float64
 4   price                           48895 non-null  int64
 5   minimum_nights                  48895 non-null  int64
 6   number_of_reviews               48895 non-null  int64
 7   reviews_per_month               38843 non-null  float64
 8   calculated_host_listings_count  48895 non-null  int64
 9   availability_365                48895 non-null  int64
dtypes: float64(3), int64(7)
memory usage: 3.7 MB

### Method3

In [ ]:
''' LOGIC TO SEGREGATE THE COLUMNS INTO TWO DIFFERENT LIST '''

col=list(AB_NYC_data.columns)
intt=[]
obb=[]
for i in range(0,len(col)):
   if (AB_NYC_data[col[i]]).dtype==object:
     obb.append(col[i])
   else:
      intt.append(col[i])

print(intt)
print(obb)

['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']
['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type']

In [ ]:
AB_NYC_numeric_cols_data=AB_NYC_data[intt]                         
AB_NYC_numeric_cols_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   latitude                        48895 non-null  float64
 3   longitude                       48895 non-null  float64
 4   price                           48895 non-null  int64
 5   minimum_nights                  48895 non-null  int64
 6   number_of_reviews               48895 non-null  int64
 7   last_review                     38843 non-null  datetime64[ns]
 8   reviews_per_month               38843 non-null  float64
 9   calculated_host_listings_count  48895 non-null  int64
 10  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7)
memory usage: 4.1 MB

## 8.Create a new dataset by considering only Non-numerical columns.

In [ ]:
object_cols=[col for col in AB_NYC_data.columns if AB_NYC_data[col].dtypes in ["object"]]
print(object_cols)
print(len(object_cols))

['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type']
5

In [ ]:
AB_NYC_data_object_cols_data=AB_NYC_data[object_cols]
AB_NYC_data_object_cols_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 48869 non-null  object
 1   host_name            48873 non-null  object
 2   neighbourhood_group  48895 non-null  object
 3   neighbourhood        48895 non-null  object
 4   room_type            48895 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

##  9.Create a subset by considering only room_type=“Private room”

In [ ]:
#Unique values inside a column
AB_NYC_data["room_type"].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [ ]:
private_room_data=AB_NYC_data[AB_NYC_data["room_type"]=="Private room"]
print(private_room_data.shape)

(22326, 16)

## 10.Create a subset by considering only room_type="Private room" and "price" < 100

In [ ]:
AB_NYC_private_room=AB_NYC_data[(AB_NYC_data["room_type"]=="Private room") & (AB_NYC_data["price"]<100)]
AB_NYC_private_room.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17258 entries, 6 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17258 non-null  int64
 1   name                            17243 non-null  object
 2   host_id                         17258 non-null  int64
 3   host_name                       17250 non-null  object
 4   neighbourhood_group             17258 non-null  object
 5   neighbourhood                   17258 non-null  object
 6   latitude                        17258 non-null  float64
 7   longitude                       17258 non-null  float64
 8   room_type                       17258 non-null  object
 9   price                           17258 non-null  int64
 10  minimum_nights                  17258 non-null  int64
 11  number_of_reviews               17258 non-null  int64
 12  last_review                     14023 non-null  datetime64[ns]
 13  reviews_per_month               14023 non-null  float64
 14  calculated_host_listings_count  17258 non-null  int64
 15  availability_365                17258 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.2+ MB

## 11.Sort the data based on number_of_reviews. Both ascending and descending

In [ ]:
AB_NYC_data_sort=AB_NYC_data.sort_values(by=["number_of_reviews"])
AB_NYC_data_sort.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23
28711,22204856,Room available in 3 BD Brooklyn apartment,1819657,Eleanor,Brooklyn,Clinton Hill,40.68381,-73.96786,Private room,55,2,0,NaT,NaN,1,0
15661,12650830,Quiet room in Bed-Stuy,68585649,Joseph,Brooklyn,Bedford-Stuyvesant,40.69186,-73.94038,Private room,30,80,0,NaT,NaN,1,0
40011,31076156,é•¿å²›è±ªåŽå…¬å¯“å•é—´å§å®¤ä½Žä»·çŸ­ç§Ÿäº¤é...,232169947,è¾£è¾£,Queens,Long Island City,40.74779,-73.93820,Private room,60,2,0,NaT,NaN,1,0
7707,5826468,Large 2 bed 2 bath w private patio!,27894798,Aya,Manhattan,East Harlem,40.79372,-73.94316,Entire home/apt,200,30,0,NaT,NaN,1,0

In [ ]:
AB_NYC_data_sort=AB_NYC_data.sort_values(by=["number_of_reviews"], ascending= False)
AB_NYC_data_sort.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47,1,629,2019-07-05,14.58,2,333
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75,3,293
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49,1,597,2019-06-23,7.72,3,342
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49,1,594,2019-06-15,7.57,3,339
13495,10101135,Room Near JFK Twin Beds,47621202,Dona,Queens,Jamaica,40.66939,-73.76975,Private room,47,1,576,2019-06-27,13.40,2,173

## 12.Sort the data by price descending and by number_of_reviews on a tie

In [ ]:
AB_NYC_data_sort2=AB_NYC_data.sort_values(by=["price", "number_of_reviews"],ascending= [False, False])
AB_NYC_data_sort2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaT,NaN,1,83
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0

## 13.Sort the data by price descending and select first ten rows.

In [ ]:
AB_NYC_data_sort3=AB_NYC_data.sort_values(by=["price"],ascending=[False])
AB_NYC_data_sort3

input_data_first_ten=AB_NYC_data_sort3.head(10)
input_data_first_ten

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaT,NaN,1,83
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaT,NaN,1,365
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
30268,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,18128455,Rum,Manhattan,Tribeca,40.72197,-74.00633,Entire home/apt,8500,30,2,2018-09-18,0.18,1,251
4377,2953058,Film Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69137,-73.96723,Entire home/apt,8000,1,1,2016-09-15,0.03,11,365
29662,22779726,East 72nd Townhouse by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper East Side,40.76824,-73.95989,Entire home/apt,7703,1,0,NaT,NaN,12,146
42523,33007610,70' Luxury MotorYacht on the Hudson,7407743,Jack,Manhattan,Battery Park City,40.71162,-74.01693,Entire home/apt,7500,1,0,NaT,NaN,1,364

## 14.Drop the id column from the data crate a new dataset.

In [ ]:
print("input data shape", AB_NYC_data.shape)
data_after_cols_drop=AB_NYC_data.drop(["name","neighbourhood_group"], axis=1)
print("data_after_cols_drop shape", data_after_cols_drop.shape)

input data shape (48895, 16)
data_after_cols_drop shape (48895, 14)

## 15.Create a new column in the data, discount_price = price*0.75

In [ ]:
#Create a new column in the data, discount_price = price*0.75
print("input data shape", AB_NYC_data.shape)
AB_NYC_data["discount_price"]=AB_NYC_data["price"]*0.75
print("input data shape", AB_NYC_data.shape)
print(AB_NYC_data.columns)

input data shape (48895, 16)
input data shape (48895, 17)
Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'discount_price'],
      dtype='object')

## 16.Shuffle the data - Create a new column , fill it with random numbers between 1 to 10, then sort the data based on this column.

In [ ]:
import numpy as np
random_number=np.random.uniform(low=0, high=11, size=AB_NYC_data.shape[0] )
print(random_number)
print(len(random_number))

[8.84388268 6.60829068 3.50673892 ... 8.97432482 4.1094464  3.04872334]
48895

In [ ]:
AB_NYC_data["random_number_col"]=random_number
print("Actual data \n", AB_NYC_data.head())
AB_NYC_data1=AB_NYC_data.sort_values(by="random_number_col")
print("Data after shuffling \n", AB_NYC_data1.head())

Actual data
      id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaT
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

   discount_price  random_number_col
0          111.75           8.843883
1          168.75           6.608291
2          112.50           3.506739
3           66.75           4.877774
4           60.00           2.961234
Data after shuffling
              id                                  name    host_id host_name  \
1818     813554         Historic Park Slope Gem - 1br    4275254   Valeria
12681   9726043  Family apt w/ junglegym-bed for kids     292084   Liliana
34631  27469022       Quaint Apartment in East Harlem  207010341     Maria
27265  21540062                        DaDukes Marvel  139879568   Alberto
308       71384       Gigantic Private Brooklyn Loft!     365153       Ben

      neighbourhood_group     neighbourhood  latitude  longitude  \
1818             Brooklyn        Park Slope  40.67228  -73.97248
12681            Brooklyn        Kensington  40.64463  -73.97057
34631           Manhattan       East Harlem  40.79578  -73.93398
27265              Queens  Long Island City  40.76470  -73.93914
308              Brooklyn        Greenpoint  40.72898  -73.95552

             room_type  price  minimum_nights  number_of_reviews last_review  \
1818   Entire home/apt    185              30                 36  2019-05-28
12681  Entire home/apt     95               7                  5  2019-07-05
34631  Entire home/apt    145               5                  2  2018-09-03
27265     Private room     71               1                 63  2019-06-22
308    Entire home/apt    229               1                 50  2014-05-13

       reviews_per_month  calculated_host_listings_count  availability_365  \
1818                0.58                               1               358
12681               0.12                               1                59
34631               0.18                               2                 1
27265               3.19                               6               360
308                 0.50                               1               188

       discount_price  random_number_col
1818           138.75           0.000025
12681           71.25           0.000202
34631          108.75           0.000308
27265           53.25           0.000532
308            171.75           0.000792

## 17.Are there any duplicate rows in the overall dataset?, if yes how many?

In [ ]:
sum(AB_NYC_data.duplicated())

0

## 18.Are there any duplicates based on host_id?

In [ ]:
sum(AB_NYC_data.duplicated(["host_id"]))

11438

## 19.Import the AB_NYC_2019_Reviews.csv data. Attach ratings data to the input data.

In [ ]:
#Import the AB_NYC_2019_Reviews.csv data. Attach ratings data to the input data.
review_data=pd.read_csv("https://raw.githubusercontent.com/venkatareddykonasani/python_5days/master/Day2_Files/Datasets/AB_NYC_2019_Reviews.csv")
review_data.shape

(38843, 8)

In [ ]:
review_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38843 entries, 0 to 38842
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 38843 non-null  int64
 1   name               38837 non-null  object
 2   host_id            38843 non-null  int64
 3   host_name          38827 non-null  object
 4   number_of_reviews  38843 non-null  int64
 5   last_review        38843 non-null  object
 6   reviews_per_month  38843 non-null  float64
 7   Rating             38843 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 2.4+ MB

In [ ]:
AB_NYC_data_review_l=pd.merge(AB_NYC_data,review_data, on=["id"], how="left")

In [ ]:
print("input_data shape", AB_NYC_data.shape)
print("review_data shape", review_data.shape)
print("input_and_review_l shape", AB_NYC_data_review_l.shape)

input_data shape (48895, 18)
review_data shape (38843, 8)
input_and_review_l shape (48895, 25)

## 20.Export the above merged data into a csv file

In [ ]:
AB_NYC_data_review_l.to_csv("AB_NYC_data_review_l.csv")